.img-full-bck{
  width: 100%;
}

.title {
  font-family: 'Lato', sans-serif;
  font-size: 150px;
  color: white;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 35%;
}

.FBbutton {
    font-family: "Lato", sans-serif;
    /*font-size: 24px;*/
    position: fixed;
    left: 20%;
    width: 60%;
    top: 75%;
    background-color: #3b5998 !important;
    border: none !important;
}

.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

.newWndrText {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: auto;
  padding: 10px;
  border: 1px solid #464646;
  border-radius: 0;
  position: relative;
  z-index: 10;
  border-shadow: none;
  background: transparent;
  line-height: 1.2;
  color: #333333;
  -webkit-appearance: none;
}

.newCommentText {
  font-family: 'Lato', sans-serif;
  width: 60%;
  height: auto;
  padding: 5px;
  border: 1px solid #464646;
  border-radius: 0;
  outline: none;
  z-index: 10;
  display: inline;
  background: transparent;
  line-height: 1.2;
  color: #333333;
  -webkit-appearance: none;
}

.addComment{
  margin-left: 1%;
  background-color: #81d6d5;
  width: 35%;
  padding-top: 6px;
  padding-bottom: 6px;
  border: none;
  color: white;
  text-align: center;
  moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#emojiContainer{
  text-align: center;
  padding-bottom: 5px;
}
#emojiContainer li {
  /*change this for the iPhone it here*/
  display: inline-block;
  font-size: 3em;
  height: 35px;
  white-space: nowrap;
}

@media screen and (min-width: 480px) {
  #emojiContainer li {
    font-size: 40px;
    height: 45px;
    padding-top: 12px;
  }
}

.submitButton{
  width: 100%;
  background-color: rgb(129, 214, 213);
  height: auto;
  border: none;
  color: white;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.selected {
  background-color: #878281;
}

.expandButton {
  float: right;
  color: #ACACAC;
}

.hidden {
  visibility: hidden;
}

.gm-style-iw + div {
  display: none;
  margin: 0px;
  width: 0px;
  height: 0px;
  padding: 0px;
}

.iconButton {
  display : inline-block;
  padding: 0 5px;
  font-size: 15px;
  color: #464646;
}

.iconButton i {
  padding: 10px;
}

.inline-right {
  display: inline;
  float: right;
}

#floating-panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 5;
  background-color: rgba(255,255,255,0.902);
  padding: 15px;
  border: 1px solid #999;
  text-align: left;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
 }

#info-thoughts {
  font-size: 20px;
}

.avatar {
  padding: 0px 5px;
  width: 10%;
}

#content {
  padding-bottom: 10px;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
}

.infoContent {
  width: 270px;
}

#detail-panel {
  position: absolute;
  top: 15%;
  left: 10%;
  right: 10%;
  bottom: 13%;
  width: 80%;
  height: 72%;
  z-index: 5;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #999;
  text-align: left;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  overflow-y: scroll;
  border-radius: 5px;
 }
 
 .inline {
  display: inline;
 }
 
.comments {
  max-height: 250px;
  overflow-y: scroll;
  font-family: 'Lato', sans-serif;
  width: 100%;
  color: #464646;
}
.commentUser {
  width: 100%;
  margin-bottom: -10px;
  font-size: 18px;
}
.commentText {
  font-size: 14px;
  width: 100%;
}

.charCountContainer {
  width: 100%;
  padding-right: 10px;
  padding-bottom: 12px;
}
.charCount {
  font-family: 'Lato', sans-serif;
  float: right;
  color: #999999;
  font-size: small;
}
.charCount div {
  display: inline;
}

#new_wndr {
  position: absolute;
  top:0%;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(255,255,255,.9);
}

.gm-style-iw {
   padding: 10px;
   width: 300px !important;
   top: 15px !important;
   left: 0 !important;
   background-color: #fff;
   box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
   border: hidden;
   border-radius: 10px 10px 10px 10px;
}

.new-wndr-button{
  width: 24%;
  margin-left: 38%;
}

.new-wndr{
  width: 100%;
  position: absolute;
  top:85%;
  bottom: 0;
  z-index: 10;
  padding: 0;
}

.hr{
  margin: 0 5%;
  width: 90%;
  border-color: rgb(193, 182, 182);
  border-width: 1px;
  border-style: solid;
}