
<div ng-controller="indexController"  ng-attr-location="wndr#index">
	
    <div id="floating-panel" class="hidden"></div>
    <div id="detail-panel" class="hidden"></div>    
    <div id="map_canvas" style="width:100%;"></div>
	<div id="new_wndr" class="hidden">
		<div class="row row-center">
			<div class="col col-offset-10 col-80">
			  <form novalidate ng-submit="getInput()">
				  <div id="emojiContainer">
					  <ul>
                          <li><img style="height: 100%;" src="/emojis/1f600.svg" ng-click="setIcon($event, 'smiling')"/></li>
                          <li><img style="height: 100%;" src="/emojis/1f914.svg" ng-click="setIcon($event, 'thinking')"/></li>
                          <li><img style="height: 100%;" src="/emojis/1f61c.svg" ng-click="setIcon($event, 'tongueOut')"/></li>
                          <li><img style="height: 100%;" src="/emojis/2639.svg" ng-click="setIcon($event, 'sad')"/></li>
                          <li><img style="height: 100%;" src="/emojis/1f621.svg" ng-click="setIcon($event, 'angry')"/></li>
                          <li><img style="height: 100%;" src="/emojis/2764.svg" ng-click="setIcon($event, 'heart')"/></li>
                          <li><img style="height: 100%;" src="/emojis/1f4a9.svg" ng-click="setIcon($event, 'poop')"/></li>
					  </ul>
				  </div>
				<textarea class="newWndrText" ng-model="thought" ng-change="updateCharWndr()" rows="8" maxlength="200" placeholder="Type caption here.">
				</textarea>
                <div class="charCountContainer">
                    <div class="charCount">
                        <div id="charactersWndr">200</div> <div> characters left</div>
                    </div>
                </div>
				<br />
				<input class="submitButton" type="submit" id="submit" value="share" />
			  </form>
			<button class="cancelButton" ng-click="stopPost()">cancel</button>
			</div>
		</div>
	</div>
	<div class='new-wndr'><img class='new-wndr-button' id='background-img' src='/img/newWndr.png' ng-click="newWndr()"/></div>
	<div class='refreshWndr'><img class='new-wndr-button' src='/img/refresh.png' ng-click="refreshMarkers()"/></div>
</div>
<script>
	document.ontouchmove = function(event){ 
	 if (!event.elementIsEnabled) {
        event.preventDefault();
		}
	};
	document.getElementById('detail-panel').ontouchmove = function (event) {
		event.elementIsEnabled = true;
	};
	document.getElementById('floating-panel').ontouchmove = function (event) {
		event.elementIsEnabled = true;
	};
</script>

