<script>
function myMap() {
  var mapCanvas = document.getElementById("map");
  var mapOptions = {
    center: new google.maps.LatLng(51.508742,-0.120850),
    zoom: 5
  };
  var map = new google.maps.Map(mapCanvas, mapOptions);
  var marker = new google.maps.Marker({
    position: new google.maps.LatLng(51.508742,-0.120850),
    animation: google.maps.Animation.BOUNCE
  });
  marker.setMap(map);
}
</script>

<!--<script async= defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACasFJhGHXYCoC5BxVmdyF-8RMf706in0&callback=myMap"></script>-->

<div ng-controller="indexController"  ng-attr-location="wndr#index">
    
    <div id="map_canvas" style="width:100%;height:500px" onload="initMap();"></div>
</div>

