<div ng-controller="indexController" style="height:100%;" ng-attr-location="wndr#index">
    <div id="navbar">
        <img ng-click="inMapView ? listView() : mapView()" id="navbar__icon" src="/img/listView.png" />
        <div ng-click="toggleMenu ? closeMenu() : openMenu()">wndr</div>
    </div>
    <div id="floating-panel" style="margin-top:11vw; width: 100%;" ng-style="{height: viewHeight + 'px'}" class="hidden"></div>
    <div id="detail-panel" class="hidden"></div>
	<div id="mask" class="hidden"></div>
	<div id="delete-panel" class="hidden">
		<div id="delete-options">
			<div id="deleteWndr"></div>
			<div class="cancelDelete" ng-click="cancelDelete()">Cancel</div>
		</div>
	</div>
    <div id="map_canvas" style="width:100%;" ng-style="{height: viewHeight + 'px'}"></div>
	<div id="new_wndr" style="margin-top:11vw;" class="hidden">
		<div class="row row-center">
			<div class="col col-offset-10 col-80">
			  <form novalidate ng-submit="getInput()">
				  <div id="emojiContainer">
					  <ul>
                          <li><img style="height: 100%;" src="/emojis/1f600.svg" ng-click="setIcon($event, 'smiling')"/></li>
                          <li><img style="height: 100%;" src="/emojis/1f914.svg" ng-click="setIcon($event, 'thinking')"/></li>
                          <li><img style="height: 100%;" src="/emojis/1f602.svg" ng-click="setIcon($event, 'laughingWithTears')"/></li>
                          <li><img style="height: 100%;" src="/emojis/2639.svg" ng-click="setIcon($event, 'sad')"/></li>
                          <li><img style="height: 100%;" src="/emojis/1f621.svg" ng-click="setIcon($event, 'angry')"/></li>
                          <li><img style="height: 100%;" src="/emojis/2764.svg" ng-click="setIcon($event, 'heart')"/></li>
                          <li><img style="height: 100%;" src="/emojis/1f4a9.svg" ng-click="setIcon($event, 'poop')"/></li>
					  </ul>
				  </div>
				<textarea class="newWndrText" ng-model="thought" ng-change="updateCharWndr()" rows="8" maxlength="200" placeholder="Type caption here.">
				</textarea>
                <div class="charCountContainer">
                    <div class="charCount">
                        <div id="charactersWndr">200</div><div> characters left</div>
                    </div>
                </div>
				<br />
				<input class="submitButton" type="submit" id="submit" value="share" />
			  </form>
			<button class="cancelButton" ng-click="stopPost()">cancel</button>
			</div>
		</div>
	</div>
	<div class='new-wndr'><img class='new-wndr-button' id='background-img' src='/img/newWndr.png' ng-click="newWndr()"/></div>
	<div class='refreshWndr'><img class='new-wndr-button' src='/img/refresh.png' ng-click="refreshMarkers()"/></div>
    <div id="menu" ng-style="{width: menuWidth + 'vw', 'margin-left': menuMargin + 'vw'}" class="hidden">
        <div class="options" ng-click="toggleAbout ? closeAbout() : openAbout()">About</div>
        <div id="about-details" class="details">
            <p>wndr is a fun and interactive application that allows you to engage with your surroundings and interact with other wndrers (that was hard to say).</p>
            <p>Using our map you can view wndrs stamped with an emoji, and also share your thoughts at your location. Join the wndr community to begin your location-based interaction.</p>
            <br />
            <ul>
                Use wndr to:
                <li>- See what others have thought anywhere on the map</li>
                <li>- Share your thoughts in you current location</li>
                <li>- Choose an emoji to stamp you post</li>
                <li>- Interact with others by liking and commenting</li>
            </ul>
            <br />
            <p>Thanks to <b>Snazzy Maps</b> for the Sevilla skin</p>
            <p>Emoji provided free from <b>EmojiOne</b></p>
            <p>Map marker courtesy of the <b>Noun Project</b> by Creative Stall</p>
        </div>
        <div class="options" ng-click="toggleContact ? closeContact() : openContact()">Contact Us</div>
        <div id="contact-details" class="details">
            <p>Please email us at wndrgroup@gmail.com with any questions or comments. We would love to hear from YOU!</p>
        </div>
        <div class="options" ng-click="logout()">Log Out</div>
    </div>
</div>
<script>
	document.ontouchmove = function(event){ 
	 if (!event.elementIsEnabled) {
        event.preventDefault();
		}
	};
	document.getElementById('detail-panel').ontouchmove = function (event) {
		event.elementIsEnabled = true;
	};
	document.getElementById('floating-panel').ontouchmove = function (event) {
		event.elementIsEnabled = true;
	};
</script>

