<style>

.img-full-bck{
  width: 100%;

}
button {
    position: fixed;
    top: 60%;
    left: 23%;
    border-color: #3B5998;
    background-color: #3B5998;
    color: white;
    margin: 0;
    padding: 0 12px;
    min-width: 52px;
    min-height: 47px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 42px;
    cursor: pointer;
}
</style>
<header>
	<script>
	document.ontouchmove = function(e){ e.preventDefault(); }
	</script>
</header>
<div ng-controller="loginController">
    <button ng-click="FBLogin()">Continue with Facebook</button>
    <img style="width: 100%" class='img-full-bck' id='background-img' src='/img/background.png' />
</div>
