<super-navbar>
  <super-navbar-title>
    New wndr
  </super-navbar-title>
</super-navbar>
<div ng-controller="newThoughtController"  ng-attr-location="wndr#newThought">
  <div class="row row-center">
  <div class="col col-offset-10 col-80">
    <form novalidate ng-submit="getInput()">
        <div id="emojiContainer">
            <ul>
                <li ng-click="setIcon($event, 'smiling')">&#x1f603</li>
                <li ng-click="setIcon($event, 'thinking')">&#x1f914</li>
                <li ng-click="setIcon($event, 'tongueOut')">&#x1f61c</li>
                <li ng-click="setIcon($event, 'sad')">&#x2639&#xfe0f</li>
                <li ng-click="setIcon($event, 'angry')">&#x1f621</li>
                <li ng-click="setIcon($event, 'heart')">&#x2764</li>
                <li ng-click="setIcon($event, 'poop')">&#x1f4a9</li>
            </ul>
        </div>
      <textarea id="TextArea" ng-model="thought" ng-keyup="autoExpand($event)" placeholder="Enter your thoughts here.">
      </textarea>
      <br />
      <input class="submitButton" type="submit" id="submit" value="Share" />
    </form>
  </div>
  </div>
</div>
