<super-navbar>
  <super-navbar-title>
    New wndr
  </super-navbar-title>
</super-navbar>
<div ng-controller="newThoughtController"  ng-attr-location="wndr#newThought">
  <div class="row row-center">
  <div class="col col-offset-10 col-80">
    <form novalidate ng-submit="getInput()">
        <div id="emojiContainer">
            <ul>
                <li ng-click="setIcon($event, 'smiling')"><img src="/emojis/1f600.svg" /></li>
                <li ng-click="setIcon($event, 'thinking')"><img src="/emojis/1f914.svg" /></li>
                <li ng-click="setIcon($event, 'tongueOut')"><img src="/emojis/1f61c.svg" /></li>
                <li ng-click="setIcon($event, 'sad')"><img src="/emojis/2639.svg" /></li>
                <li ng-click="setIcon($event, 'angry')"><img src="/emojis/1f621.svg" /></li>
                <li ng-click="setIcon($event, 'heart')"><img src="/emojis/2764.svg" /></li>
                <li ng-click="setIcon($event, 'poop')"><img src="/emojis/1f4a9.svg" /></li>
            </ul>
        </div>
      <textarea id="TextArea" ng-model="thought" ng-change="updateChar()" ng-keyup="autoExpand($event)" maxlength="200" placeholder="Enter your thoughts here.">
      </textarea>
      <div class="charCount" id="characters">200</div> <div  class="charCount"> characters left</div>
      <br />
      <input class="submitButton" type="submit" id="submit" value="Share" />
    </form>
  </div>
  </div>
</div>
